
<nav class="sidebar">
    <img class="sidebar-img" src="assets/images/logo-consents.svg" />
    
    <div class="sidebar-itens">
        <a 
        class="link"
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
            Give consent
        </a>
        <a 
        class="link"
        routerLink="/collected" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
            Collected consents
        </a>
    </div>
  </nav>