<div class="collected-consents">
    <h1 class="collected-consents-title">Collected consents</h1>

    <div class="collected-consents-container">
        <table class="collected-consents-table">
            <tr class="table-header" >
                <th>Name</th>
                <th>E-mail</th>
                <th>Conset given for</th>
            </tr>
            <tr class="table-line" *ngFor="let item of paginatedConsents">
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td><span *ngFor="let consent of item.consents"> {{ consent }}<br /></span> </td>
            </tr>
        </table>
        
        <div class="collected-consents-pagination">
            <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="pagination-button">Previous</button>
            <span class="pagination-label">Page {{ currentPage }} of {{ totalPages }}</span>
            <button (click)="goToNextPage()" [disabled]="currentPage === totalPages"  class="pagination-button">Next</button>
        </div>
    </div>

</div>