.collected-consents {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
        color: var(--gray-700);
        font-size: 24px;
    }

    &-container {
        background-color: var(--white);
        padding: 24px;
        flex-grow: 1;
    }

    &-table {
        width: 100%;

        th, td {
            padding: 12px 8px;
        }

        th {
            text-align: left;
            background-color: var(--gray-100);
            color: var(--gray-600)
        }
    }

    &-pagination {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin: 24px;

        .pagination-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: var(--secondary);
            font-size: 16px;

            &:disabled {
                cursor: auto;
                color: var(--gray-300);
            }
        }

        .pagination-label {
            color: var(--gray-700);
            font-size: 16px;

        }
    }

}