<div class="give-consent">
    <h1 class="give-consent-title">Give consent</h1>

    <div class="give-consent-container">
        <form class="give-consent-form">
            <app-input label="Name" />
            <app-input label="E-mail" />

            <div class="form-checkboxes">
                <app-checkbox label="Recive newsletter" />
                <app-checkbox label="Be shown targeted ads" />
                <app-checkbox label="Contribute to anonymous visit statistics" />
            </div>
            
            <app-button>Give consent </app-button>
        </form>
    </div>
</div>